.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.navLinks {
  gap: 1rem;
}

li {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

table td,
table th {
  border: 1px solid black;
}
