.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

nav {
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 1rem;
}

nav img {
  width: 3.5rem;
  margin-right: 1rem;
}

nav h1 {
  font-size: 2rem;
}

.navLinks {
  gap: 1rem;
  margin-left: auto;
}

li {
  list-style: none;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

#profile {
  padding-left: 1rem;
  border-left: 3px solid #a6a6a6;
}

#rockets {
  padding: 0 2rem;
}

.rocket {
  align-items: center baseline;
  gap: 1rem;
  margin-bottom: 1rem;
  /* padding: 0.5rem; */
}

.rocketPic img {
  width: 15rem;
}

.details {
  gap: 0.7rem;
  max-width: 50rem;
}

.details button {
  width: fit-content;
  padding: 0.3rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5%;
}
